:root {
    --skyBlue: rgba(70, 178, 252);
    --blueShadow: rgba(85, 229, 255, 0.664);
    --backDrop1: rgba(255, 255, 255, 0);
    --backDrop2: rgba(70, 179, 252, 0.068);
    --blue1: rgba(70, 179, 252, 0.322);
    --blue2: rgba(0, 217, 255, 0.425);
    --text-shadow: 2px 2px 4px var(--blueShadow);
    --text-shadow2: 2px 2px 4px var(--blueShadow), 3px 3px 4px var(--skyBlue);
    --underLine: underline 4px solid;
    --firstLine: var(--underLine) var(--skyBlue);
    --secondLine: var(--underLine) var(--blue2);
}

body {
    background: var(--skyBlue);
    background: radial-gradient(circle, var(--skyBlue) 0%, rgb(41, 40, 40) 100%);
    font-family: "anta", system-ui;
    background-repeat: round;
    text-shadow: var(--text-shadow2);
}

.wavefont-test {
    font-family: "Wavefont", system-ui;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "ROND" 100,
        "YELA" 0;
}

/* Media query for screens in landscape mode */
@media screen and (orientation: landscape) {
    h1 {
        font-size: 6vw;
    }

    h2 {
        text-align: end;
        font-size: 3.2vw;
    }

    #h2Left {
        text-align: start;
    }

    h3 {
        font-size: 2.5vw;
    }

    .h3Right {
        text-align: end;
    }

    .hLink {
        text-decoration: none;
    }

    .firstLine {
        text-decoration: var(--firstLine);
        position: relative;
        text-decoration-skip-ink: auto;
    }

    .secondLine {
        text-decoration: var(--secondLine);
        text-decoration-skip-ink: auto;
        position: relative;
        top: 4px;
        text-shadow: var(--text-shadow);
    }

    .projectImage {
        width: 40vw;
        height: 40vh;
        border: 5px solid var(--blue2);
        border-radius: 20px;
        margin: 1vh;
    }

    .projectImage:hover {
        width: 50vw;
        height: 50vh;
        border: 5px solid var(--blue1);
        border-radius: 20px;
        margin: 1vh;
        transition: all 0.8s ease-in-out;
    }

    p {
        text-align: start;
        word-wrap: break-word;
        font-size: 1.2vw;
        text-wrap: balance;
        font-family: "open sans", cursive;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        text-shadow: var(--textshadow);
        text-decoration: var(--secondLine);
        text-decoration-skip-ink: auto;
    }

    p:hover {
        text-shadow: var(--text-shadow2);
        background: var(--backDrop2);
        font-size: 1.5vw;
        transition: all 0.3s ease-in-out;
    }

    #randWavy {
        text-align: end;
        font-size: 1.5vw;
    }

    .explain2 {
        text-align: end;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
}

/* Media query for screens in portrait mode */
@media screen and (orientation: portrait) {

    h1 {
        font-size: 6vh;
    }

    h2 {
        text-align: end;
        font-size: 4vh;
    }

    #h2Left {
        text-align: start;
    }

    h3 {
        font-size: 2.5vh;
    }

    .h3Right {
        text-align: end;
    }

    .hLink {
        text-decoration: none;
    }

    .firstLine {
        text-decoration: var(--firstLine);
        position: relative;
        text-decoration-skip-ink: auto;
    }

    .secondLine {
        text-decoration: var(--secondLine);
        text-decoration-skip-ink: auto;
        position: relative;
        top: 4px;
        text-shadow: var(--text-shadow);
    }

    .projectImage {
        width: 50vw;
        height: 25vh;
        border: 5px solid var(--blue2);
        border-radius: 20px;
        margin: 1vh;
    }

    .projectImage:hover {
        width: 60vw;
        height: 35vh;
        border: 5px solid var(--blueShadow);
        border-radius: 20px;
        margin: 1vh;
    }

    p {
        text-align: start;
        word-wrap: break-word;
        font-size: 1.2vh;
        text-wrap: balance;
        font-family: "open sans", cursive;
        font-optical-sizing: auto;
        font-weight: 550;
        font-style: normal;
        text-shadow: var(--text-shadow);
        text-decoration: var(--secondLine);
        text-decoration-skip-ink: auto;
    }

    p:hover {
        text-shadow: var(--text-shadow2);
        background: var(--backDrop2);
        font-size: 1.5vh;
    }

    #randWavy {
        text-align: end;
        font-size: 1.5vh;
    }

    .explain2 {
        text-align: end;
    }

}