:root {
    --skyBlue: rgba(70, 178, 252);
    --pumpkin: rgb(247, 114, 5);
    --blueShadow: rgba(85, 229, 255, 0.664);
    --backDrop: rgba(255, 255, 255, 0);
    --backDrop1: rgba(70, 179, 252, 0.068);
    --backDrop2: rgba(70, 179, 252, 0.322);
    --backDrop3: rgba(0, 217, 255, 0.425);
    --text-shadow: 2px 2px 4px var(--blueShadow);
    --underLine: underline 5px solid;
    --goldLine: var(--underLine) gold;
    --pumpkinLine: var(--underLine) var(--pumpkin);
}

body {
    background: var(--skyBlue);
    background: radial-gradient(circle, var(--skyBlue) 0%, black 100%);
    font-family: "Nabla", system-ui;
}

.wavefont-test {
    color: var(--skyBlue);
    font-family: "Wavefont", system-ui;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "ROND" 100,
        "YELA" 0;
}

h1 {
    font-size: 7vw;
}

h2 {
    text-align: end;
    font-size: 4vw;
}

#h2Left {
    text-align: start;
}

.hLink {
    text-decoration: none;
}

.goldLine {
    text-decoration: var(--goldLine);
    position: relative;
    text-decoration-skip-ink: auto;
}

.pumpkinLine {
    text-decoration: var(--pumpkinLine);
    text-decoration-skip-ink: auto;
    position: relative;
    top: 4px;
    text-shadow: var(--text-shadow);
}

p {
    text-align: start;
    word-wrap: break-word;
    font-size: 2vw;
    text-wrap: balance;
}

#randWavy {
    text-align: end;
    font-size: 2vw;
}

.notes {
    background: var(--backDrop1);
    background: linear-gradient(90deg, var(--backDrop), var(--backDrop1)40%, var(--backDrop2)60%, var(--backDrop3)100%);
}

.notes2 {
    background: var(--backDrop1);
    background: linear-gradient(90deg, var(--backDrop3), var(--backDrop2)40%, var(--backDrop1)60%, var(--backDrop)100%);
}

/* <weight>: Use a value from 400 to 700 */
#explain {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-shadow: var(--text-shadow);
    text-decoration: underline solid 2px;
    text-decoration-skip-ink: auto;
}

#explain2 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-shadow: var(--text-shadow);
    text-decoration: underline solid 2px;
    text-decoration-skip-ink: auto;
    text-align: end;
}

.iFrames {
    width: 50vw;
    height: 100%;
    border: 1;
}

div.row:last-child iframe {
    height: 80%;
}