:root {
    --skyBlue: rgb(69, 179, 252);
    --back1: rgba(41, 39, 39, 0.76);
    --backDrop2: rgba(70, 179, 252, 0.068);
    --blue1: rgba(36, 141, 216, 0.918);
    --blue2: rgba(7, 40, 46, 0.808);
    --underLine: underline 4px solid;
    --firstLine: var(--underLine) var(--blue1);
    --secondLine: var(--underLine) var(--blue2);
}

body {
    background: radial-gradient(circle, var(--skyBlue) 70%, rgb(121, 116, 116) 100%);
    font-family: "anta", system-ui;
    background-repeat: round;
    color: black;
}

.wavefont-test {
    font-family: "Wavefont", system-ui;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "ROND" 100, "YELA" 0;
}

.firstLine,
.secondLine {
    text-decoration: var(--firstLine);
    position: relative;
    text-decoration-skip-ink: auto;
}

.secondLine {
    text-decoration: var(--secondLine);
    top: -4px;
}

.navbar-nav {
    margin: 0 auto;
    font-size: 1.5rem;
    background-color: var(--backDrop2);
}

.backgroundChange {
    background-color: var(--backDrop2);
}

a {
    text-decoration: none;
    color: var(--blue2);
}

a:visited {
    color: var(--back1);
}

a:hover {
    color: var(--blue1);
}

.explain2,
#h2Left,
.h3Right {
    text-align: end;
}

#h2Left,
.h3Right {
    text-align: start;
}

@media screen and (orientation: landscape) {
    h1 {
        font-size: 6vw;
    }

    h2 {
        text-align: end;
        font-size: 3.1vw;
        padding: 2vw;
        margin: 2vw;
    }

    h3 {
        font-size: 2.5vw;
    }

    .projectImage {
        width: 13vw;
        height: 13vw;
        margin: 1vw 1vw 1vw 1vw;
        border: 7px solid var(--blue1);
        border-radius: 5% 25% 15% 25%;
    }

    p {
        text-align: start;
        word-wrap: break-word;
        font-size: 1.2vw;
        text-wrap: balance;
        font-family: "open sans", cursive;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        text-decoration-skip-ink: auto;
    }

    #randWavy {
        text-align: end;
        font-size: 1.5vw;
        text-decoration: none;
    }

    .iconFooter {
        margin-top: 2vw;
        position: relative;
        left: 11vw;
    }

    .footerText {
        font-size: smaller;
    }
}

@media screen and (orientation: portrait) {
    h1 {
        font-size: 6vh;
    }

    h2 {
        text-align: end;
        font-size: 4vh;
    }

    h3 {
        font-size: 2.5vh;
    }

    .projectImage {
        width: 15vh;
        height: 15vh;
        margin: 1vw 1vw 1vw 1vw;
        border: 7px solid var(--blue1);
        border-radius: 5% 25% 15% 25%;
    }

    p {
        text-align: start;
        word-wrap: break-word;
        font-size: 1.2vh;
        text-wrap: balance;
        font-family: "open sans", cursive;
        font-optical-sizing: auto;
        font-weight: 550;
        font-style: normal;
        text-decoration-skip-ink: auto;
    }

    #randWavy {
        text-align: end;
        font-size: 1.5vh;
        text-decoration: none;
    }

    .iconFooter {
        margin-top: 2vw;
        position: relative;
        left: 11vw;
    }

    .footerText {
        font-size: smaller;
    }
}